// BASE COMPONENTS
* 
  box-sizing: content-box

body
  font-size: 13px

h2, h3, .h2, .h3
  font-size: 1.3em

legend
  font-size: initial

a:hover
  text-decoration: none

img
  max-width: 100%

figure
  figcaption
    font-size: 10px
    font-style: italic
  
#wp-admin-bar-resource-links .ab-icon:before
  display: inline-block
  content: "\f103"

#screen-meta-links
  position: relative
  z-index: 20

a.faq-removal 
  color: red

  &:hover 
    color: #fd6969

.faq-item
  border-radius: 8px
  padding: 3%

  &:hover
    background-color: #ededed

// SETTINGS PAGES

@mixin input-fix( $size )
  input
    flex-grow: 0
    width: $size

.settings-section-break
  $border: 1px solid rgba(0,0,0,.125)
  background-color: rgba(0,0,0,.03)
  border-top: $border
  border-bottom: $border
  clear: both
  font-size: 1rem
  font-weight: 500
  line-height: 1.2
  margin: 1em -1.25rem
  padding: .75rem 1.25rem

.custom-settings,
.custom-settings *,
#theme-reference,
#theme-reference *
  box-sizing: border-box

.input-group
  &.regular-text
    @include input-fix( 30em )
  
  &.medium-text
    @include input-fix( 20em )
  
  &.small-text
    @include input-fix( 70px )

.custom-settings
  .form-table
    margin: .5em 0
  
  h2
    margin: 2em 0 .5em

.form-control
  height: auto
  font-size: 14px

.form-control.regular-text,
.input-group.regular-text .form-control.regular-text
  max-width: 25em
  width: 25em

.form-control.medium-text,
.input-group.medium-text .form-control.medium-text
  max-width: 15em
  width: 15em

#titlediv
  #title-prompt-text
    padding: 5px 10px

#poststuff
  .postbox
    > .inside
      align-items: flex-start
      display: flex
      flex-flow: row wrap
      justify-content: center
      margin: 0
      padding: 20px 14px
      .form-group
        &:last-child
          margin-bottom: 0

  #faq_schema_meta_box
    > .inside
      display: block

      input
        display: block
        width: 100%
        margin-bottom: 10px

      input#faq_add_button 
        cursor: pointer
        font-size: 30px
        height: 30px
        line-height: 15px
        padding: 0
        width: 30px
        
  #pageparentdiv,
  #submitdiv,
  .postbox[id*="tagsdiv"]
    .inside
      display: block
    
.custom-field-wrapper
  box-sizing: border-box
  margin-bottom: 1em
  padding: 0 20px
  width: 100%
  &.form-check
    padding-left: 40px
  
  &:last-child
    margin-bottom: 0px
  
  label
    display: block
    font-size: 14px
    font-weight: bold
    padding: 15px 0 5px
    &.form-check-label
      padding: 3px
    
    i
      display: block
      font-size: 12px
      font-weight: normal
    
  
  input[type="text"]
    line-height: 2.5
  
.is-half
  float: left
  width: 50%
  @media ( max-width: 550px)
    width: 100%
  
.input-group-text
  font-size: 14px
  line-height: 1.3
  padding: 0 0.75rem

.menu-icon-offering .wp-menu-image.dashicons-before:before
  font-family: "Font Awesome 5 Free"
  font-weight: 900
  content: "\f52d"

.dropdown-item
  width: auto

// POST EDITOR

.components-panel
  padding-bottom: 10vh !important

.edit-post-layout__metaboxes
  padding-bottom: 6em !important
  input[type="checkbox"]
    &.form-check-input
      margin-top: .3rem
      margin-left: -1.25rem
      @media (max-width: 782px)
        margin-left: -2.25rem
      
$score-width: 130px

.post-type-review
  #details
    .inside
      display: flex
      flex-flow: row wrap
      margin: 0 auto
      max-width: 600px
      *
        box-sizing: border-box
      
      .custom-field-wrapper
        margin: 0
        padding: 20px
        &:not(.review-score)
          width: calc( 100% - #{$score-width} )
          input,
          textarea
            width: 100%
          
          &:not(.source-url)
            margin-left: auto
          
      .review-score
        width: $score-width
        input
          width: 60px
        
      .review-description
        textarea
          font-size: 1rem
          line-height: 1.2
          padding: 1em
        
// TAG EDIT
.taxonomy-tours
  .term-description-wrap
    p
      display: none
    
.form-wrap
  background-color: #fff
  background-clip: border-box
  border: 1px solid rgba(0,0,0,.125)
  border-radius: .25em
  box-shadow: 0 1px 1px rgba(0,0,0,.04)
  box-sizing: border-box
  margin-top: .6rem
  *
    box-sizing: border-box
  
  > h2
    background-color: rgba(0,0,0,.03)
    border-bottom: 1px solid rgba(0,0,0,.125)
    color: inherit
    content: "Default Info"
    display: block
    font-size: 1rem
    line-height: 1.2
    margin: 0
    padding: .75rem 1.25rem
    width: 100%
  
  #addtag
    padding: 20px
    input
      padding: .3em .5em
    
    textarea
      padding: .6em

#edittag
  box-sizing: border-box
  display: flex
  flex-flow: row wrap
  margin: 0 auto
  max-width: 1280px
  width: 100%
  .form-table,
  .term-metabox,
  #addtag
    margin: 20px auto
    max-width: 600px
    width: 100%
    @media (min-width: 1100px)
      width: 50%
  
  *
    box-sizing: border-box
  
  .form-table
    background-color: #fff
    background-clip: border-box
    border: 1px solid rgba(0,0,0,.125)
    border-radius: .25em
    box-shadow: 0 1px 1px rgba(0,0,0,.04)
    &:before
      background-color: rgba(0,0,0,.03)
      border-bottom: 1px solid rgba(0,0,0,.125)
      color: inherit
      content: "Default Info"
      display: block
      font-size: 1rem
      line-height: 1.2
      margin-bottom: 0
      padding: .75rem 1.25rem
      width: 100%
    
    tbody
      display: block
      padding: 20px
      width: 100%
    
    th,td
      display: block
      padding: 15px
    
    th
      padding-bottom: 0
      width: 100%
    
    input
      padding: .3em .5em
    
    textarea
      padding: .6em
    
  
  .custom-field-wrapper
    label
      padding: 0
    
  
  #addtag
    margin: 0
    width: 100%
  
  .edit-tag-actions
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    margin: 20px auto
    width: 90%
    @media (max-width: 1100px)
      max-width: 600px
    
    .button
      margin-left: 10px
      order: 1
    
input.form-check-input
  margin: .3rem 0 -1px -1.25rem
  @media (max-width: 782px)
    margin: .3rem 0 -1px -2.25rem
  
// PLUGIN SPECIFICS

.wpseo-metabox-menu
  display: none
