$sitemap-list-item-style: none !default

.content
  .sitemap-list
    list-style-type: $sitemap-list-item-style
  .child-page-list
    border-left: 1px solid $grey-lighter
    list-style-type: $sitemap-list-item-style
    margin-left: 2px
    padding-left: 1rem