
@import "wp-blocks/core_columns"
@import "wp-blocks/core_cover"
@import "wp-blocks/core_gallery"
@import "wp-blocks/core_social-links"
@import "wp-blocks/core_media-text"

$section-padding-x: 1.5rem

.section:not(.p-0)
  .alignfull
    margin-left: #{"-"+$section-padding-x}
    margin-right: #{"-"+$section-padding-x}
    width: 100vw
