@use"sass:map"

$fx-slide-up-start: translateY(2em) !default
$fx-slide-up-end: translateY(0em) !default
$fx-slide-down-start: translateY(-2em) !default
$fx-slide-down-end: translateY(0em) !default
$fx-slide-left-start: translateX(2em) !default
$fx-slide-left-end: translateX(0) !default
$fx-slide-right-start: translateX(-2em) !default
$fx-slide-right-end: translateX(0em) !default
$fx-turn-cw-90-start: rotate(-90deg) !default
$fx-turn-cw-90-end: rotate(0deg) !default
$fx-turn-countercw-90-start: rotate(90deg) !default
$fx-turn-countercw-90-end: rotate(0deg) !default

$default-effect-duration: 1s !default
$default-effect-timing-function: ease-in-out !default

$added-triggers: () !default
$core-triggers: (load: (start-class: "when-loaded", end-class: "has-loaded", orientation: "before"), visible: (start-class: "when-visible", end-class:"is-visible", orientation:"on"), click: (start-class: "when-clicked", end-class:"was-clicked", orientation:"on"), show-parent: (start-class: "when-parent-shows", end-class: "is-shown", orientation: "before"), hover: (start-class: "when-hovered", end-class: "is-hovered", orientation: "on"), grab: (start-class: "when-grabbed", end-class: "is-grabbed", orientation: "on"), expanded: (start-class: "when-expanded", end-class: "is-expanded", orientation: "on"), parent-expanded: (start-class: "when-parent-expanded", end-class: "is-expanded", orientation: "before"))
$effect-triggers: map-merge( $core-triggers, $added-triggers )

$added-transitions: () !default
$core-transitions: (opacity: (fade-in: (start: 0, end: 1)), transform: (slide-up: (start: $fx-slide-up-start, end: $fx-slide-up-end), slide-down: (start: $fx-slide-down-start, end: $fx-slide-down-end), slide-left: (start: $fx-slide-left-start, end: $fx-slide-left-end), slide-right: (start: $fx-slide-right-start, end: $fx-slide-right-end), turn-cw-90: (start: $fx-turn-cw-90-start, end: $fx-turn-cw-90-end), turn-countercw-90: (start: $fx-turn-countercw-90-start, end: $fx-turn-countercw-90-end)))
$transition-effects: map-merge( $core-transitions, $added-transitions )

.transition
  transition-property: all
  transition-duration: $default-effect-duration
  transition-timing-function: $default-effect-timing-function


@mixin new-transition-effect( $effect-name, $start-class, $end-class, $orientation, $prop, $start-val, $end-val, $dur: null )
  $start-selector: ""
  $end-selector: ""

  @if before == $orientation
    $start-selector: ".fx-" + $effect-name + "." + $start-class
    $end-selector: "." + $end-class + " .fx-" + $effect-name + "." + $start-class

  @else if on == $orientation
    $start-selector: ".fx-" + $effect-name + "." + $start-class
    $end-selector: ".fx-" + $effect-name + "." + $end-class + "." + $start-class

  @else if after == $orientation 
    $start-selector: ".fx-" + $effect-name + " ." + $start-class
    $end-selector: ".fx-" + $effect-name + " ." + $end-class + "." + $start-class

  #{$start-selector}
    #{$prop}: $start-val
    @if $dur not null
      transition-duration: $dur

  #{$end-selector}
    #{$prop}: $end-val


@each $prop, $effects in $transition-effects
  @each $effect-name, $values in $effects
    @each $trigger-name, $trigger-details in $effect-triggers
      $start-class: map-get($trigger-details, start-class)
      $end-class: map-get($trigger-details, end-class)
      $orientation: map-get($trigger-details, orientation)
      $start-val: map-get($values, start)
      $end-val: map-get($values, end)
      $dur: null
      @if map-has-key($values, dur)
        $dur: map-get($values, dur)

      @include new-transition-effect( $effect-name, $start-class, $end-class, $orientation, $prop, $start-val, $end-val, $dur )


@mixin new-keyframe-effect( $animation-name, $start-props, $end-props, $dur: $default-effect-duration, $count: 1 )
  @each $trigger-name, $trigger-details in $effect-triggers
    $start-class: map-get($trigger-details, start-class)
    $end-class: map-get($trigger-details, end-class)
    $orientation: map-get($trigger-details, orientation)

    $start-selector: ""
    $end-selector: ""
  
    @if $orientation == before
      $start-selector: ".frames-" + $animation-name + "." + $start-class
      $end-selector: "." + $end-class + " .frames-" + $animation-name + "." + $start-class

    @else if $orientation == on
      $start-selector: ".frames-" + $animation-name + "." + $start-class
      $end-selector: ".frames-" + $animation-name + "." + $end-class + "." + $start-class

    @else if $orientation == after
      $start-selector: ".frames-" + $animation-name + " ." + $start-class
      $end-selector: ".frames-" + $animation-name + " ." + $end-class + "." + $start-class

    #{$start-selector}
      @each $prop, $val in $start-props
        #{$prop}: $val

    #{$end-selector}
      animation-name: $animation-name
      animation-duration: $dur
      animation-iteration-count: $count
      @each $prop, $val in $end-props
       #{$prop}: $val
  
  @keyframes #{$animation-name}
    @content

