/*
 * Default Mega Menu Styles
 */

.mega-menu-container
  display: none

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > figure,
  > blockquote,
  > .wp-block-group,
  > .wp-block-custom-accordion
  > .wp-block-columns
    margin: 1em auto
    max-width: $tablet
    width: 100%

    @media (min-width: $tablet)
      width: 80%

    @media (min-width: $desktop)
      width: 60%

  .aligncenter
    margin-left: auto
    margin-right: auto

  > .alignwide
    margin: 1em auto
    max-width: $alignwide-max-width
    width: 100%
        
  > .alignfull
    margin: 1.5rem #{"-" + $page-section-padding-x-mobile}
    max-width: unset
    width: 100vw

    @media( min-width: $tablet )
      margin: 1.5rem 0

@media screen and ( min-width: $desktop )
  .mega-menu-container
    background-color: $navbar-background-color
    display: block
    left: 0
    opacity: 0
    position: absolute
    right: 0
    top: 100%
    transition: all 0.3s ease
    visibility: hidden

    &.is-active, &:hover
      opacity: 1
      visibility: visible

  a.mega-menu-link
    + .navbar-dropdown
      display: none !important
  

