
@mixin text-outline($x, $y, $b, $c)
  text-shadow: $x $y $b $c, #{"-"+$x} $y $b $c, $x #{"-"+$y} $b $c, #{"-"+$x} #{"-"+$y} $b $c

@mixin hidden-icon
  opacity: 0
  transform: rotate(90deg)

@mixin shown-icon
  opacity: 1
  transform: rotate(0deg)

