/**
  * Navbar Sass
  */

@media screen and (max-width: $tablet)
  #main-nav 
    .navbar-menu 
      .has-dropdown 
        .navbar-dropdown 
          display: none

@media screen and (max-width: $desktop - 1)
  .navbar-menu
    background-color: #F5F5F5
    display: block !important
    height: 100vh
    left: 0
    max-height: 100vh !important
    opacity: 0
    overflow-y: auto
    position: absolute
    right: 0
    top: 0
    visibility: hidden
    transition: all .5s ease


.nav-open 
  overflow: hidden
    
  body
    overflow: hidden

  .navbar-menu
    border-radius: 5px
    opacity: 1
    padding-top: 3.5em
    visibility: visible

    @media screen and ( min-width: $tablet )
      padding-top: 4.5em
        

    a.navbar-item
      color: $primary

      &:hover 
        background-color: $primary
        color: $white


.navbar-burger
  .fa
    font-size: 40px
    line-height: 50px
    position: absolute
    top: calc(50% - 20px)
    transition: all .3s ease
    z-index: 5

  .fa-bars
    @include shown-icon
    color: $primary

  .fa-times
    @include hidden-icon
    color: $primary

  .nav-open &
    .fa-times
      @include shown-icon

    .fa-bars
      @include hidden-icon

