$social-item-background: transparent !default
$social-item-transition: all .5s ease-out !default
$social-item-min-width: 30px !default
$social-item-border-radius: 20px !default
$social-item-hover-value-change: 1 !default
$social-container-background: transparent !default
$social-container-max-width: 120px !default
$social-container-items-valign: center !default
$social-container-items-halign: space-around !default
$social-container-hover-item-prop-change: opacity !default
$social-container-hover-item-value-change: .75 !default

.social-items
  background: $social-container-background
  align-items: $social-container-items-valign
  display: flex
  flex-flow: row wrap
  justify-content: $social-container-items-halign
  width: 100%
  &#navbar-social-items
    margin: 0 0 0 auto
    padding: 1em 0
    @media (min-width: $desktop)
      max-height: $navbar-height
      max-width: $social-container-max-width
      padding: 2px 0
      overflow: hidden
  &:hover
    .social-item
      #{$social-container-hover-item-prop-change}: $social-container-hover-item-value-change
      &:hover
        #{$social-container-hover-item-prop-change}: $social-item-hover-value-change
  .social-item
    background: $social-item-background
    border-radius: $social-item-border-radius
    display: inline-block
    margin: auto
    min-width: $social-item-min-width
    text-align: center
    transition: $social-item-transition
