// Default Variables
$footer-link-color: $link !default
$footer-link-hover-color: $link-hover !default
$footer-nav-valign: center !default
$footer-nav-halign: center !default
$footer-nav-item-background: none !default
$footer-nav-item-hover-background: rgba(255,255,255,.2) !default
$footer-nav-item-color: $white-ter !default
$footer-nav-item-hover-color: $white !default
$footer-nav-item-margin: 0 !default
$footer-nav-item-padding: 1em 2em !default
 

#site-footer 
  align-self: flex-end
  width: 100%
.nav-footer-items
  align-items: $footer-nav-valign
  display: flex
  flex-flow: row wrap
  justify-content: $footer-nav-halign
.footer-item
  background: $footer-nav-item-background
  color: $footer-nav-item-color
  margin: 0
  padding: $footer-nav-item-padding
  transition: all $default-transition-timing ease
  width: 100%
  &:hover
    background: $footer-nav-item-hover-background
    color: $footer-nav-item-hover-color

  @media (min-width: $tablet)
    margin: $footer-nav-item-margin
    width: auto
.footer a
  color: $footer-link-color
  &:hover 
    color: $footer-link-hover-color
