
@mixin pseudo-input( $type: checkbox )
  background: transparent
  border: 1px solid $grey-lighter
  display: inline-block
  height: 16px
  left: 0
  margin-right: 5px
  min-width: 16px
  overflow: hidden
  transition: all .3s ease
  width: 16px
  @if checkbox == $type
    border-radius: 5px
    border-color: $grey-lighter
  @else if radio == $type
    border-radius: 40px
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.3)

.forminator-guttenberg
  margin: 1em auto
  max-width: 700px

.forminator-field
  @extend .field
  display: flex
  flex-flow: row wrap
  width: 100%
  .forminator-label
    order: 0
    width: 100%
  .forminator-description
    margin: 0 0 8px
    order: 1
    width: 100%
  *
    order: 2
  label
    width: 100%

.forminator-input
  @extend .input
  &:hover
    @extend .input:hover
  &:focus
    @extend .input:focus

.forminator-textarea
  @extend .textarea
  &:hover
    @extend .textarea:hover
  &:focus
    @extend .textarea:focus

.forminator-checkbox
  align-items: center
  display: flex
  flex-flow: row nowrap
  padding: 8px 0
  @extend .checkbox
  input[type="checkbox"]
    visibility: hidden
    width: 0
    + span
      @include pseudo-input( checkbox )
    &:checked
      + span
        background: lighten($secondary, 5%)
        border-color: $white
        box-shadow: 0px 0px 3px rgba(0,0,0,.6)

.forminator-option
  padding: .5em 0
  input[type="checkbox"]
    visibility: hidden
    width: 0
  &:before
    content: ""
    @include pseudo-input()
  &.forminator-is_checked
    &:before
      background: lighten($secondary, 5%)
      border-color: $white
      box-shadow: 0px 0px 3px rgba(0,0,0,.6)

.forminator-radio
  align-items: center
  cursor: pointer
  display: flex
  flex-flow: row nowrap
  padding: 8px 0
  input[type="radio"]
    visibility: hidden
    width: 0
    + span
      @include pseudo-input( radio )
    &:checked
      + span
        background: lighten($secondary, 5%)
        border-color: $white
        box-shadow: inset 0px 0px 2px #ffffff, 0px 0px 3px rgba(0,0,0,.6)

.select2-container--default
  width: 100% !important

  .selection
    width: 100%

    .select2-selection--single
      -moz-appearance: none
      -webkit-appearance: none
      align-items: center
      background-color: white
      border: 1px solid $grey-lighter
      border-radius: $control-radius
      box-shadow: none
      color: $text
      cursor: pointer
      display: block
      font-size: 1rem
      height: 2.5em
      justify-content: flex-start
      line-height: 1.5
      max-width: 600px
      outline: 0
      padding: $control-padding-vertical $control-padding-horizontal
      positon: relative
      width: 100%
      &:hover
        border-color: $grey-light

      .select2-selection__arrow
        top: 7px

  .select2-dropdown
    background: $box-background-color
    border-radius: $box-radius
    box-shadow: $box-shadow

.forminator-input-with-icon
  width: 100%

.forminator-datepicker
  max-width: 340px
  width: 100%

#ui-datepicker-div.forminator-calendar
  background: #fff
  border: 1px solid #ccc
  border-radius: 6px
  box-shadow: 0px 2px 2px rgba(0,0,0,.2)
  font-size: 1.2rem
  padding: 1em
  width: 300px
  a
    color: $primary
    &.ui-state-active
      color: $secondary
      &:hover
        color: $warning
    &:hover
      color: $dark
  table
    line-height: 2
    text-align: center
    width: 100%
  .ui-datepicker-header,
  .ui-datepicker-title
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    width: 100%
    > a,
    > select
      font-size: inherit
      margin: 0
      width: auto
    select
      padding: 5px
      width: 50%
  .ui-datepicker-title
    padding: 5px 0
  @media(min-width: $tablet)
    font-size: 1.1rem
    width: 200px
    table 
      line-height: 1.6

.forminator-row
  @extend .columns

.forminator-col
  @extend .column

.forminator-col-6
  @extend .is-half

.forminator-col-4
  @extend .is-one-third

.forminator-col-3
  @extend .is-one-quarter

.forminator-required
  @extend .has-text-danger

.forminator-label
  @extend .label

.forminator-option
  @extend .checkbox

.forminator-description
  @extend .help
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

.forminator-error-message
  @extend .help
  @extend .has-text-danger

.forminator-button
  @extend .button 
  &:hover
    @extend .button:hover
  &:active,
  &:focus
    @extend .button:focus

.forminator-button-submit
  @extend .button.is-secondary
