// Default Component Variables
$hero-header-background-attachment: scroll !default
$hero-header-background-position: center 50% !default
$hero-header-background-size: cover !default

// Component Styles
#main-hero
  width: 100%
.hero
  &.has-image
    background-attachment: $hero-header-background-attachment
    background-position: $hero-header-background-position
    background-size: $hero-header-background-size
    min-height: 260px
    position: relative
    &:before
      background-color: $dark
      bottom: 0 
      content: ""
      display: block
      left: 0
      opacity: .25
      position: absolute
      right: 0
      top: 0
  &.has-parallax
    background-attachment: fixed
    @media (max-width: $tablet - 1)
      background-repeat: no-repeat
      background-attachment: scroll
  .description
    max-width: 640px
