
$image-sizes: ("mobile": 320px, "large-mobile": 480px, "tablet": 768px, "desktop": 1024px, "hi-res": 2000px) !default
$enlarge-images: false !default

.image
  @if $enlarge-images
    cursor: pointer

  &.allow-overflow
    overflow: hidden

    a
      display: block

    img
      &.portrait-oriented
        bottom: auto
        height: auto
        top: 0

      &.landscape-oriented
        max-width: none
        right: auto
        width: auto

  img
    width: auto

  &.is-style-rounded
    img
      border-radius: 9999px

  @each $breakpoint, $size in $image-sizes
    #{"&.size-"+$breakpoint},
    #{".size-"+$breakpoint}
      max-width: $size

  #image-modal &
    *[class*="size-"]
      max-width: none
      width: 100%
