
#message-board
  bottom: calc( var(--navbar-height) + 1em )
  left: 0
  position: fixed
  width: 100%
  z-index: 10
  @media (min-width: $tablet)
    bottom: 1em
  .messages
    margin: 0 auto
    max-width: 560px
    width: 90%
  .message
    margin-bottom: 1.5em
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)
    &:last-child
      margin-bottom: 0
