/*
 * Custom Theme Styles
 */
   
#{":root"}
  #{"--navbar-height"}: $default-navbar-height
  @media (max-width: $tablet - 1)
    #{"--navbar-height"}: $mobile-navbar-height

html,
body
  max-width: 100vw
  overflow-x: hidden
  padding-top: unset

/**
 * COMPONENTS
 * MUST BE ADDED
 */
// @import "components/navbar"
// @import "components/footer"

/**
 * PAGES
 */

@import "pages/front-page"
