
// INITIAL VARIABLES AND FUNCTIONS
@import "../../../parent.theme/vendor/bulma-0.9.1/sass/utilities/initial-variables"
@import "../../../parent.theme/vendor/bulma-0.9.1/sass/utilities/functions"

// DEFINE NEW COLOR SCHEMES
$secondary: #2F4A61
$secondary-light: findLightColor($secondary)
$secondary-dark: findDarkColor($secondary)
$secondary-invert: findColorInvert($secondary)


// IMPORT VARIABLES FILES
@import "variables/bulma-variables"
@import "variables/theme-variables"
@import "../../../parent.theme/css/components/social-colors"
@import "../../../parent.theme/vendor/bulma-0.9.1/sass/utilities/derived-variables"

// IMPLEMENT CUSTOM COLOR SCHEMES
$custom-colors: ("secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark))
$colors: map-merge($colors, $custom-colors)

@import "../../../parent.theme/css/components/all-wp-blocks"
@import "../../../parent.theme/vendor/bulma-0.9.1/bulma"

@import "../../../parent.theme/css/bulma/page"
@import "../../../parent.theme/css/components/mixins"
@import "../../../parent.theme/css/components/article-lists"
@import "../../../parent.theme/css/components/btt"
@import "../../../parent.theme/css/components/reviews"
@import "../../../parent.theme/css/components/slider"
@import "../../../parent.theme/css/components/social-nav"
@import "../../../parent.theme/css/components/wp-blocks/_custom_accordion"
@import "../../../parent.theme/css/components/_navbar"
@import "../../../parent.theme/css/components/_mega-menu"



@import "custom-theme"

// CUSTOM TRANSITIONS
$slide-open-y-start: 0
$slide-open-y-end: 100vh
$added-transitions: (max-height: (slide-open-y: (start: $slide-open-y-start, end: $slide-open-y-end)))

@import "../../../parent.theme/css/components/effects"

// CUSTOM KEYFRAMES
$start-zoom-in-props: ( opacity: 0, transform: scale(0) )
$end-zoom-in-props: ( opacity: 1, transform: scale(1) )
@include new-keyframe-effect( "zoom-in", $start-zoom-in-props, $end-zoom-in-props, .5s, 1 )
  0%
    opacity: 0
    transform: scale(.3)
  80%
    opacity: .6
    transform: scale(.7)
  100%
    opacity: 1
    transform: scale(1)

@keyframes spin 
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(90deg)
  50%
    transform: rotate(180deg)
  75%
    transform: rotate(270deg)
  100%
    transform: rotate(360deg)
